html, body {
    margin: 0;
}

header {
  background-color: #F55A5A;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}

header img {
  width: 24px;
  margin-right: 7px;
}

header h1 {
 
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Inter;
}
