html, body {
    margin: 0;
}

header {
  background-color: #F55A5A;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}

header img {
  width: 24px;
  margin-right: 7px;
}

header h1 {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Inter;
}

.journal-entry {
  margin: 24px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.journal-image {
  height: 168px;
  border-radius: 5px;
}

.location {
  font-size: 10.24px;
  font-weight: 400;
  font-family: Inter;
  line-height: 100%;
}

.location img {
  width: 6px;
  margin-right: 8px;
}

.location span {
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.location a {
  color: #2B283A;
  text-decoration: underline;
}

.location a:visited {
    color: #918E9B;
}
