/* html, body {
    margin: 0;
}

header {
  background-color: #F55A5A;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}

header img {
  width: 24px;
  margin-right: 7px;
}

header h1 {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Inter;
}

.journal-entry {
  margin: 24px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.journal-image {
  height: 168px;
  border-radius: 5px;
}

.location {
  font-size: 10.24px;
  font-weight: 400;
  font-family: Inter;
  line-height: 100%;
}

.location img {
  width: 6px;
  margin-right: 8px;
}

.location span {
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.location a {
  color: #2B283A;
  text-decoration: underline;
}

.location a:visited {
    color: #918E9B;
} */


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-color: whitesmoke;
}

.contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.contact-card {
    flex-basis: 225px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    padding-bottom: 20px;
    background-color: white;
}

.contact-card > img {
    width: 100%;
    height: auto;
    align-self: center;
    border-radius: 5px;
    object-fit: cover;
}

.contact-card > h3 {
    font-weight: 700;
    font-size: 18px;
}

.info-group {
    display: flex;
    align-items: center;
}

.info-group > img {
    height: 11px;
    margin-right: 8px;
}

.info-group > p {
    margin-block: 3px;
    font-size: 12px;
    color: #2B283A;
}